*{
    margin: 0px;
    padding: 0px;
}

.part1{
    background-color: black;
    height: 827px;
    width: 500px;
    display: flex;
    flex-direction: column;
}

.path3{
    margin-top: 81px;
}